<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Home</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<h1 th:text="${welcomeMessage}"></h1>

<script th:href="@{javascript/bootstrap.min.js}"></script>
</body>
</html>